- if flash[:notice]
  .notification.bg-info.text-white.text-center
    = flash[:notice]
- else
  .missing.bg-danger.text-white.text-center
    = flash[:alert]


.wrapper
  = render "shared/header"
  .main
    - if user_signed_in?
      = render "shared/content_left"
      = render "shared/content_center"
      = render "shared/content_right"
    - unless user_signed_in?
      = render "shared/content_start"
      
  = render "shared/footer"